/* public/styles/base.css */

:root{
    --background-dark: grey;
    --background: lightgrey;
    --background-light: rgb(233, 232, 232);
    --body: white;
    --panel: lightgrey;
    --body-font: 14px/1.5 Vidaloka, OdorMeanChey;
    --link: black;
    --menu: rgb(189, 189, 189);
    --playlist-part:lightgrey;
    --playlist-color: black;
    --playlist-clicked: white;
    --playlist-clicked-bg: #149165;
    --color: rgb(112, 112, 112);
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--link);
}

a:hover{
    opacity: .7;
}

.region{
    max-width: 1100px;
    margin: 0 auto;
}
  
html{
    color: var(--color);
    font: var(--body-font);
    background: var(--background-light);
}